.Bisection{
    padding-top:  20px;
    text-align: center;
    background-color: lightcyan;
    
    
  }
  
  .Bisection h1 {
    color: rgb(0, 0, 0);
  }
  .Bisection-Gh {
    height: 350px;
    width: 600px;
    
    margin:  auto;
    
    
  }
  